<header class="hero" id="intro">
    <div class="container caption">
        <div class="col-xs-16 col-xs-push-4 col-md-push-0 col-md-12">
            <img src="/static/img/screen-prometeo360-macbook.png" class="img-responsive">
        </div>
        <div class="col-xs-16 col-xs-push-4 col-md-push-0 col-md-12">
            <p>Prometeo 360</p>
            <h1>Crea e condividi esperienze interattive a 360&deg; per desktop, smartphone e Cardboard.</h1>
        </div>
    </div>
    <a href="https://github.com/gabfusi/prometeo360-editor-client" target="_blank"><img
            style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
</header>

<div class="block" id="overview">
    <div class="container">

        <div class="head">
            <h2>Cerchi un modo per rendere interattivi i tuoi video?</h2>
            <p>Prometeo 360 è la soluzione pi&uacute; semplice per creare video interattivi a 360 gradi.</p>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="/static/img/prometeo-mock-devices.png" class="img-responsive">
            </div>
            <div class="col-sm-12">
                <p>
                    Prometeo 360 è un software di montaggio dedicato ai video a 360&deg; che consente di collegare  tra loro svariati video
                    video attraverso la definizione di aree interattive.
                </p>
                <ul>
                    <li>Facile da utilizzare</li>
                    <li>Creazione di aree interattive a mano libera</li>
                    <li>Animazione delle aree interattive tramite fotogrammi chiave</li>
                    <li>Condivisione dei filmati creati su cloud</li>
                    <li>Embed dei filmati sul proprio sito web</li>
                    <li>Disponibile per MacOS e Windows</li>
                    <li>Supporto per Google Cardboard, dispositivi fissi e mobili.</li>
                    <li>Progetto open-source, modificabile e ridistribuibile.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="block" id="demo">
    <div class="container">
        <div class="head">
            <p>Esplora la Tate Modern Gallery</p>
        </div>
        <div class="row">
            <div class="col-sm-16 col-sm-push-4">
                <iframe allowfullscreen="true" frameborder="0" width="640" height="360" src="http://prometeo360.gabrielefusi.com/embed/gabrielefusi_1eb1cea7381191130ecb74e227e9547e/42e7908a7d692b42b1966b41b4eee475"></iframe>
            </div>
        </div>
    </div>
</div>


<div class="block" id="features">
    <div class="container">

        <div class="row">
            <div class="col-sm-9 col-sm-push-1">
                <h3>Riconosci gli oggetti dei tuoi video</h3>
                <p>Con Prometeo 360 puoi ricalcare gli oggetti presenti nei tuoi video direttamente sui suoi fotogrammi,
                    questi diventeranno delle aree interattive che potrai collegare ad un'altro video creando
                    cos&iacute; un percorso all'interno del filmato.</p>
            </div>
            <div class="col-sm-12 col-sm-push-2">
                <img src="/static/img/feat1.png" class="img-responsive">
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-sm-12 col-sm-push-1">
                <img src="/static/img/feat2.png" class="img-responsive">
            </div>
            <div class="col-sm-9 col-sm-push-2">
                <h3>Anima le aree interattive</h3>
                <p>Potrai ridefinire le aree interattive create utilizzando fotogrammi chiave, in questo modo le aree
                    seguiranno gli oggetti presenti nei tuoi video, nel caso essi dovessero muoversi.</p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-sm-9 col-sm-push-1">
                <h3>Crea infiniti percorsi all'interno dei filmati</h3>
                <p>Ogni video caricato corrisponderà ad una scena, in ogni scena potrai definire quante aree interattive
                    vorrai, consentendo ai tuoi utenti di scegliere tra molteplici percorsi di navigazione.</p>
            </div>
            <div class="col-sm-12 col-sm-push-2">
                <img src="/static/img/feat3.png" class="img-responsive">
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-sm-12 col-sm-push-1">
                <img src="/static/img/feat4.png" class="img-responsive">
            </div>
            <div class="col-sm-9 col-sm-push-2">
                <h3>Condividi i tuoi video con chiunque</h3>
                <p>Potrai caricare i tuoi video sul cloud di Prometeo 360 con un click, il software si occuper&aacute;
                    di fornirti il link per la condivisione e il codice html per incorporare il filmato sul tuo sito
                    web.</p>
            </div>
        </div>

        <div class="divider"></div>

    </div>
</div>


<div class="block" id="download">
    <div class="container">

        <div class="head">
            <h2>Gratis, per sempre.</h2>
            <p>...anche perch&eacute; &egrave; un progetto a scopo didattico!</p>
        </div>

        <div class="row">
            <div class="col-md-11 col-md-push-4">
                <p>Prometeo 360 &eacute; il software sviluppato per la mia
                    <a href="http://gabrielefusi.com/external/Tesi-FusiGabriele.pdf" target="_blank">tesi di laurea</a>,
                    tra aprile e luglio 2017.<br>
                    L'applicazione è disponibile per MacOS e Windows ed &eacute; attualmente in versione
                    alpha, rilasciata senza garanzie di alcun tipo.
                    <br>L'intero progetto è open-source, condivisibile e modificabile per scopi non commerciali seguendo
                    la
                    licenza
                    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it" target="_blank">Creative Commons
                        CC BY-NC-SA
                        4.0</a>.
                </p>
            </div>
            <div class="col-md-9 col-md-push-4">
                <a href="/static/bundle/Prometeo 360-0.1.0.dmg" class="btn">Scarica per MacOSX</a>
                <a href="/static/bundle/Prometeo 360 Setup 0.1.0.exe" class="btn">Scarica per Windows</a>
            </div>
        </div>

        <div class="divider"></div>

    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; <a href="http://gabrielefusi.com" target="_blank">Gabriele Fusi</a> - Made with &hearts; in Genova.
        </p>
    </div>
</footer>