

<div id="vrview"></div>
<div id="controls">
    <div class="progress-bar">
        <div id="progressbar" class="progress"></div>
    </div>
    <div id="toggleplay" class="paused"></div>
    <div id="time">00:00 | 00:00</div>
</div>


<script type="text/javascript">
    window._sharedData = {
        "page" : "embed",
        "movie" : {{{movie}}}
    };
</script>


<script src="/vr/build/vrview.js"></script>
<script src="/static/js/PlayerVR.js"></script>
<script src="/static/js/main.js"></script>
