@import "reset";

body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: rgb(27, 26, 33);
  line-height: 1.25em;
}

@import "grid";
@import "player";
@import "commons";
@import "website";
@import "mediaqueries";
